@import 'theme.sass'

.text
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
    font-style: normal
    color: #fff
    font-weight: 600
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-text-size-adjust: none

.h4
    font-size: 10px
    line-height: 120%
    letter-spacing: -0.04em

    @include mobile
        font-size: 12px

    @include tablet
        font-size: 12px

    @include hd
        font-size: 14px

.h3
    font-size: 18px
    line-height: 110%
    letter-spacing: -0.04em

    @include iphonex
        font-size: 24px

    @include tablet
        font-size: 26px

    @include hd
        font-size: 28px

.h2
    font-size: 28px
    line-height: 100%
    letter-spacing: -0.04em

    @include tablet
        font-size: 42px

    @include hd
        font-size: 72px

.h1
    font-size: 4em
    line-height: 100%
    letter-spacing: -0.04em

    @include iphonex
        font-size: 5em

    @include tablet
        font-size: 8em

    @include desktop
        font-size: 11em

    @include hd
        font-size: 18em
