@import 'theme.sass'

.info
    z-index: 1
    position: fixed
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1em
    // background: #000
    backdrop-filter: blur(40px)

    @include tablet
        padding: 1em 2em

.block
    min-width: 40vw
    opacity: .75

.right
    min-width: 40vw
    text-align: right

// scroll down
.border
    min-width: 1em
    min-height: 1.75em
    border: 1px solid #ffffff1a
    border-radius: 3em
    display: flex
    align-items: center
    justify-content: space-around
    text-align: center

.pin
    min-width: .5em
    min-height: .5em
    border-radius: 3em
    background-color: white
