@import 'theme.sass'

// Navigation
.navigation
    display: grid
    justify-content: center
    align-items: center
    grid-template-columns: 1fr 1fr 1fr
    padding: 2em 0

.title_project
    opacity: .1

.title_project_active
    opacity: .5

.navigation_tag_1
    height: 2em
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    top: 2em
    left: 49vw

// BASE
.section
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

// Title
.parallax
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100vw
    height: 90vh
    transform-style: preserve-3d

    @include tablet
        height: 100vh

.wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    overflow: hidden

.img
    width: auto
    height: 49vh
    object-position: center top
    border-radius: 1.5vh
    margin: 0 auto

    @include desktop
        height: 65vh

// Intro
.text
    max-width: 70vw
    text-align: center
    margin-bottom: 7em

// All-page's
.img_all
    width: 100vw
    height: auto

.description
    height: 5vh
    text-align: right
    margin: 1.5em 5.8em
    opacity: .5

    @include tablet
        margin: 1.5em 14em

// Problems
.problems
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.title
    position: sticky
    top: 0
    margin: 3em 0
    text-align: center
    opacity: .5

    @include hd
        margin: 10em 0

    @include two
        margin: 12em 0

.accordion
    height: 60vh
    width: 90vw

    @include tablet
        height: 60vh
        width: 60vw

.item
    margin: 2em 0

.name
    margin: 1em 0
    display: flex
    align-items: center
    justify-content: space-between
    cursor: pointer

// dropdown    
.dropdown
    opacity: 1
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

.dropopen
    transform: rotate(180deg)
    opacity: .5
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

.div
    height: 1px
    margin: 1em 0
    width: 100%
    background: #ffffff2a

//answeropen
.answer
    max-height: 0
    overflow: hidden
    opacity: 0
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

.answer_open
    max-height: 9999px
    height: auto
    opacity: 1
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

// info
.problem_info
    padding: .5em 0
    display: flex
    flex-direction: column

    @include tablet
        display: grid
        grid-template-columns: 15% 85%

.problem_list
    display: flex
    row-gap: .5em
    flex-direction: column

.descript
    width: 40em
    padding-bottom: 1em

.img_problem
    width: auto
    height: 49vh
    object-position: center top
    border-radius: 1.5vh
    margin: 0 auto

    @include desktop
        height: 65vh

.img_problem_wrapper
    padding: 1em 0 6em 0
    justify-content: center
    display: flex

// Goals

.goals
    display: grid
    grid-gap: 1em
    max-width: 70vw

    @include desktop
        grid-template-columns: repeat(3, 1fr)

.goals_text
    margin-top: 2em
    text-align: center

    @include desktop
        text-align: left

// Visual Language
// z-1
.draw
    height: 16em
    width: 16em
    left: 14em
    bottom: 4em
    position: relative
    border: 2px solid #fff
    border-radius: 10px

// z-2
.tass_block
    display: flex

.img_tass
    width: 16em
    height: auto
    margin-bottom: 1em

.info_tass
    display: flex
    flex-direction: column
    align-items: center

.card_tass
    width: 15em

.tass_text
    padding: 1em 0 0 12em
    max-width: 25em

    @include hd
        max-width: 50em
