@import 'theme.sass'

.cardContainer
    display: flex
    flex: 1
    align-items: center
    justify-content: center
    z-index: 5
    min-width: 50vw

    &:first-child
        margin-left: 25%

// all
.card
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: pointer
    width: 100%
    height: 100%
    z-index: 2
    user-select: none
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1)

//
// name
.title
    z-index: 1
    opacity: 0
    visibility: hidden
    transform: scale(.5)
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1)

// preview
.img
    width: auto
    height: 49vh
    object-position: center top
    border-radius: 1.5vh

    transform: scale(.75)
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1)

    @include desktop
        height: 65vh

// motion.div
.imgAnimate
    position: fixed
//
// move logic
.active
    z-index: 3
    transform: scale(1)

    >.card
        >.title
            @include desktop
                transform: scale(.95)
    &:hover
        >.card
            >.title
                @include desktop
                    transform: scale(1)

    .img
        transform: scale(1)
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

    .title
        opacity: 1
        transform: scale(1)
        visibility: visible
        transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) .25s, opacity 1.5s cubic-bezier(0.645, 0.045, 0.355, 1)

        @include tablet
            bottom: 12vh

    &.desktop
        .img
            transform: scale(1)

            @include tablet
                transform: scale(1)

            @include tablet
                bottom: 12vh

.prev
    z-index: 2

    .card
        transform: scale(.5) translateX(6vh)

        &:hover
            transform: scale(.52) translateX(6vh)

        &:active
            transform: scale(.48)

    &.desktop
        .card
            transform: scale(.5)

            &:hover
                transform: scale(.52)

            &:active
                transform: scale(.48)

.next
    z-index: 2

    .card
        transform: scale(.5) translateX(-6vh)

        &:hover
            transform: scale(.52) translateX(-6vh)

        &:active
            transform: scale(.48)

    &.desktop
        .card
            transform: scale(.5)

            &:hover
                transform: scale(.52)

            &:active
                transform: scale(.48)

.next.shifted
    transform: translateX(35%)
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1)

    @include tablet
        transform: translateX(10%)

.prev.shifted
    transform: translateX(-35%)
    transition: 1s ease-in-out

    @include tablet
        transform: translateX(-10%)

.next.motion
    transform: translateX(20%)
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1)

    @include tablet
        transform: translateX(5%)

.prev.motion
    transform: translateX(-20%)
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1)

    @include tablet
        transform: translateX(-5%)

.last
