@import 'theme.sass'

.app
    min-width: 320px
    transition: .1s ease-in-out
    position: relative

.page
    transition: all .3s ease
    position: relative
    min-height: 100vh

.enter
    opacity: 0
    transition-delay: .3s

    &Active
        opacity: 1

.exit
    width: 100%
    position: absolute
    left: 0
    top: 0
    opacity: 1

    &Active
        opacity: 0
        position: absolute
        left: 0
        top: 0
        opacity: 0
