@import 'theme.sass'

.page
    height: 100vh
    transition: all 1s ease-in

// Navigation
.navigation
    display: grid
    justify-content: center
    align-items: center
    grid-template-columns: 1fr 1fr 1fr
    padding: 2em .5em

.title_project
    opacity: 0
    transform: translateY(-.5em)
    transition: all .5s ease-in-out

.title_project_active
    opacity: .5
    transform: translateY(0px)
    transition: all .5s ease-in-out

    &:hover
        opacity: 1

// BASE
.section
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

// Title
.parallax
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100vw
    height: 90vh
    transform-style: preserve-3d

    @include tablet
        height: 100vh

.wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    overflow: hidden

.img
    width: auto
    height: 49vh
    object-position: center top
    border-radius: 1.5vh
    margin: 0 auto

    @include desktop
        height: 65vh

// Intro
.text
    max-width: 70vw
    text-align: center
    margin-bottom: 7em

// All-page's
.img_all
    width: 100vw
    height: auto

.description
    height: 5vh
    text-align: right
    margin: 1.5em 5.8em
    opacity: .5

    @include tablet
        margin: 1.5em 14em

// Problems
.problems
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.title
    margin: 3em 0
    text-align: center
    opacity: .5

    @include hd
        margin: 10em 0

    @include two
        margin: 12em 0

// Goals

.goals
    display: grid
    grid-gap: 1em
    max-width: 70vw

    @include desktop
        grid-template-columns: repeat(3, 1fr)

.goals_text
    margin-top: 2em
    text-align: center

    @include desktop
        text-align: left

// Visual Language
// z-1
.draw
    height: 16em
    width: 16em
    left: 14em
    bottom: 4em
    position: relative
    border: 2px solid #fff
    border-radius: 10px

// z-2
.tass_block
    display: flex

.img_tass
    width: 16em
    height: auto
    margin-bottom: 1em

.info_tass
    display: flex
    flex-direction: column
    align-items: center

.card_tass
    width: 15em

.tass_text
    padding: 1em 0 0 12em
    max-width: 25em

    @include hd
        max-width: 50em
