@import 'theme.sass'

// cardsArray
.cards
    display: flex
    flex-direction: column
    overflow-x: hidden
    min-height: 90vh

    @include tablet
        min-height: 100vh

    & *
        -webkit-user-select: none
        -webkit-user-drag: none
        -webkit-app-region: no-drag

.cardsList
    display: flex
    flex: 1
    position: relative
    z-index: 0
    transition: transform .75s cubic-bezier(0.645, 0.045, 0.35, 1)

.coverContainer
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    z-index: -1

// videoBG
.video
    min-width: 100%
    min-height: 100%

// bgColor
.cover
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    object-fit: cover
    transition: all .25s cubic-bezier(0.645, 0.045, 0.35, 1)
    z-index: 1
    opacity: .95

.enter
    opacity: 0

    &Active
        opacity: 1

.exit
    opacity: 1

    &Active
        opacity: 0

//
// pagination
.bullits
    position: fixed
    bottom: 0
    display: flex
    transition: all .75s cubic-bezier(0.645, 0.045, 0.355, 1)

.bullit
    display: flex
    align-items: center
    position: relative
    flex-direction: column
    margin: 1.5em 0
    width: 50vw
    height: 8vh
    opacity: .5
    transition: transform .75s cubic-bezier(0.645, 0.045, 0.355, 1)

    @include tablet
        padding-bottom: .5em
        height: 3vh

.active
    display: flex
    align-items: center
    width: 50vw
    opacity: 1

.left
    opacity: .5
    width: 50vw

.right
    opacity: .5
    width: 50vw

.bullits_shifted
    position: fixed
    bottom: 0
    display: flex
    transform: translateY(-10em)
    opacity: 0
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1)
