@import 'theme.sass'

.header
    z-index: 1
    position: fixed
    left: 0
    right: 0

header
    display: grid
    grid-template-columns: 1fr 1fr
    margin: 1.5em
    align-items: center

    @include tablet
        margin: 1.5em
        grid-template-columns: 1fr 1fr

.border
    z-index: 1
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    left: 1.5em
    top: 1.5em
    border-radius: 10em
    width: 3em
    height: 3em
    overflow: hidden
    border: 1px solid rgba(255, 255, 255, 0.145)

    &:hover
        border: 1px solid white
        transition: all .3s ease-in-out

        >.logo
            opacity: 1
            width: 2.5em
            height: 2.5em
            background-size: 2.5em 2.5em
            transition: all .4s ease-in-out

.logo
    position: fixed
    width: 2em
    height: 2em
    opacity: .75
    border-radius: 10em
    transition: all .4s
    background-size: 2em 2em

// social icons block    
.social
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: .5em

.social_border
    border: 1px solid rgba(255, 255, 255, 0.145)
    border-radius: 4em
    width: 2.75em
    height: 2.75em
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    transition: all .3s ease-in-out

    &:hover
        border: 1px solid #ffffff
        transition: all .3s ease-in-out
        >.social_icon
            opacity: 1
            transform: scale(1.2)
            transition: all .3s ease-in-out

.social_icon
    opacity: .75
    width: 1.2em
    height: 1.2em
    transition: all .3s ease-in-out
