@import 'theme.sass'

.page
    height: 100vh
    transition: all 1s ease-in

// Navigation
.navigation
    display: grid
    justify-content: center
    align-items: center
    grid-template-columns: 1fr 1fr 1fr
    padding: 2em .5em

// Заголовок при скролле
.title_project
    opacity: 0
    transform: translateY(-.5em)
    transition: all .5s ease-in-out

.title_project_active
    opacity: .5
    transform: translateY(0px)
    transition: all .5s ease-in-out

    &:hover
        opacity: 1

// BASE
.section
    display: flex
    align-items: center
    flex-direction: column

.parallax
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100vw
    height: 90vh
    transform-style: preserve-3d

    @include tablet
        height: 100vh

.wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    overflow: hidden

.img
    width: auto
    height: 49vh
    object-position: center top
    border-radius: 1.5vh
    margin: 0 auto

    @include desktop
        height: 65vh

// Заголовок блока
.text
    max-width: 70vw
    text-align: center
    margin: 7em 0

// All-page's
.img_all
    width: 100vw
    height: auto

.description
    height: 5vh
    text-align: right
    margin: 1.5em 5.8em
    opacity: .5

    @include tablet
        margin: 1.5em 14em

// Problems
.problems
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.title
    margin: 2em 0
    text-align: center
    opacity: .5

    @include hd
        margin: 10em 0

    @include two
        margin: 12em 0
