html,
body
    &,
    *
        cursor: none

body
    overflow: hidden

html
    scroll-behavior: smooth

@mixin mobile
    @media (min-width: 320px)
        @content

@mixin iphonex
    @media (min-width: 375px)
        @content

@mixin tablet
    @media (min-width: 768px)
        @content

@mixin large
    @media (min-width: 900px)
        @content

@mixin desktop
    @media (min-width: 1280px)
        @content

@mixin d15
    @media (min-width: 1440px)
        @content

@mixin hd
    @media (min-width: 1600px)
        @content

@mixin fhd
    @media (min-width: 1920px)
        @content

@mixin two
    @media (min-width: 2560px)
        @content
