@import 'theme.sass'

.cursor,
.cursorOutline
    z-index: 3
    pointer-events: none
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 50%
    opacity: 1
    transition: opacity .3s ease-in-out, transform .3s ease-in-out
    display: none

    @include tablet
        display: block

.cursor
    width: .5em
    height: .5em
    // background-color: white
    background: #fff

    &:focus
        width: 1em
        eight: 1em

    &:hover
        width: 1em
        eight: 1em

.cursorOutline
    width: 6em
    height: 6em
    border: 1px solid white
    background-color: #ffffff50
    // filter: blur(20px)
    mix-blend-mode: overlay
