@import 'theme.sass'

.accordion
    height: 60vh
    width: 90vw

    @include tablet
        height: 60vh
        width: 60vw

// faq item
.item
    margin: 2em 0

    &:hover
        >.name
            >span
                transform: translateX(.2em)
                opacity: 1
                transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1)
            >.border
                border: 1px solid white
                mix-blend-mode: overlay
                background-blend-mode: overlay
                transition: all .3s ease-in-out
                >.dropdown
                    transform: scale(1.25)
        >.div
            opacity: .3
            transition: all .3s ease-in-out
            width: 98%
            transform: translateX(.75em)

span
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1)

.name
    margin: 1em 0
    display: flex
    align-items: center
    justify-content: space-between
    cursor: pointer

// dropdown
.border
    border: 1px solid rgba(255, 255, 255, 0.25)
    border-radius: 10em
    display: flex
    align-items: center
    justify-content: center
    width: 2em
    height: 2em
    transition: all .3s ease-in-out

.dropdown
    opacity: 1
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

.dropopen
    transform: rotate(180deg)
    opacity: .5
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

    &:hover
        opacity: .75

.div
    height: 1px
    margin: 1em 0
    width: 100%
    opacity: .2
    background: #fff
    transition: all .3s ease-in-out

//answeropen
.answer
    max-height: 0
    overflow: hidden
    opacity: 0
    transform: translateY(-1em)
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

.answer_open
    max-height: 9999px
    height: auto
    opacity: 1
    transform: translateY(0)
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)

// info
.problem_info
    padding: .5em 0
    display: flex
    flex-direction: column

    @include tablet
        display: grid
        grid-template-columns: 15% 85%

.problem_list
    display: flex
    row-gap: .5em
    flex-direction: column

.descript
    width: 40em
    padding-bottom: 1em

.img_problem
    width: auto
    height: 49vh
    object-position: center top
    border-radius: 1.5vh
    margin: 0 auto

    @include desktop
        height: 65vh

.img_problem_wrapper
    padding: 1em 0 6em 0
    justify-content: center
    display: flex
