@import 'theme.sass'

.page
    display: flex
    flex-direction: column
    width: 100%
    height: 100vh
    background-color: #000
    align-items: center
    justify-content: center
    user-select: none

.title
    margin-bottom: .2em

.back
    border: 1px solid #ffffff25
    border-radius: 4em
    display: flex
    opacity: .75
    align-items: center
    justify-content: center
    width: auto
    padding: 0 2em
    height: 2.75em
    transition: .5s ease-in

    &:hover
        border-inline: 1px solid #ffffff

.link
    text-decoration: none
